{:paths   ["src"]
 :deps    {org.clojure/clojure    {:mvn/version "1.12.0"}
           org.clojure/tools.cli  {:mvn/version "1.1.230"}
           org.clojure/data.json  {:mvn/version "2.5.0"}}
 :aliases {:test    {:extra-paths ["test"]
                     :extra-deps  {lambdaisland/kaocha          {:mvn/version "1.91.1392"}
                                   lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                                   cloverage/cloverage           {:mvn/version "1.2.4"}
                                   org.clojure/test.check        {:mvn/version "1.1.1"}}
                     :main-opts   ["-m" "kaocha.runner"]}
           :build   {:deps       {io.github.clojure/tools.build {:mvn/version "0.10.6"}}
                     :ns-default build}}}
