;; deps.edn
{:paths   ["src/snetc"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.3"}
           org.clojure/tools.cli {:mvn/version "1.0.206"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.829"}}
                  :main-opts   ["-m" "kaocha.runner"]}
           :uberjar {:extra-deps {uberdeps/uberdeps {:mvn/version "1.0.4"}}
                     :main-opts  ["-m" "uberdeps.uberjar" "--target" "target/snetc-0.0.1.jar"]}}}

